@import url('./Inter-UI/inter-ui.css');
@import url('./typography.css');
@import url('./color.css');

* {
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  background-color: var(--background-500);
  color: white;
  font-size: 16px;
  overflow: hidden;
}


/* Sidebar stuff */

#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background-color: var(--background-500);
}

.sidebarButtonArray {
  width: 210px;
  min-height: 42px;
  margin-top: 21px;
  background-color: var(--background-500);
}

.sidebarButton {
  box-sizing: border-box;
  width: 210px;
  min-height: 42px;
  background-color: var(--background-500);
  color: white;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 42px;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sidebarButton:hover {
  background-color: var(--background-400);
  color: white;
}

.sidebarButtonActive {
  background-color: var(--accent-500);
  color: var(--background-900);
  cursor: initial;
  font-weight: 600;
}

.sidebarButtonActive:hover {
  background-color: var(--accent-400);
  color: var(--background-900);
}


/* Page stuff */

.page {
  width: calc(100% - 210px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background-600);
  color: white;
  border-radius: 4px 0 0 4px;
  visibility: hidden;
  z-index: 0;
  box-sizing: border-box;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 42px;
  padding-bottom: 42px;
  overflow-y: auto;
}

.pageActive {
  visibility: visible;
  z-index: 1;
}

h1 {
  padding: 0;
  margin: 0;
}


/* Website card stuff */

.websiteCard {
  box-sizing: border-box;
  padding-left: 42px;
  padding-right: 42px;
  margin-right: 21px;
  margin-top: 21px;
  width: 336px;
  height: 96px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-500);
  border-radius: 8px;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.websiteCard:hover {
  background-color: var(--background-400);
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

.websiteCard:active {
  background-color: var(--accent-500);
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
  border-radius: 0;
}

.websiteCard h2 {
  margin: 0;
  padding: 0;
}

.websiteCard p {
  margin: 0;
  padding: 0;
}


/* Generator stuff */

#generatorOutput {
  box-sizing: border-box;
  padding-left: 42px;
  padding-right: 42px;
  margin-right: 21px;
  margin-top: 21px;
  width: 698px;
  height: 96px;
  background-color: var(--background-500);
  border-radius: 8px;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;  font-size: 26px;
  letter-spacing: -0.015em;
  overflow-wrap: break-word;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

#generatorOutput:hover {
  background-color: var(--background-400);
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

#generatorOutput:active {
  background-color: var(--accent-500);
  border-radius: 0;
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
}


/* Some other junk */

#blocker {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all .5s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

#passwordModal {
  box-sizing: border-box;
  padding: 42px;
  width: 550px;
  height: 462px;
  background-color: var(--background-500);
  position: fixed;
  top: -462px;
  /* 325px because it's 550px/2 */
  left: calc(50% - 275px);
  z-index: 100;
  border-radius: 0 0 8px 8px;
  transition: all .5s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

.fadeIn {
  pointer-events: all !important;
  background-color: #00000075;
}

.slideIn {
  top: 0 !important;
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

#dummyTextField {
  width: 0px;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

#passwordField {
  box-sizing: border-box;
  padding: 21px;
  margin-right: 21px;
  margin-top: 21px;
  width: 100%;
  background-color: var(--background-400);
  border-radius: 8px;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;  font-size: 18px;
  letter-spacing: -0.015em;
  overflow-wrap: break-word;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

#passwordField:hover {
  background-color: var(--background-300);
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

#passwordField:active {
  background-color: var(--accent-500);
  border-radius: 0;
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
}


/* Inputs */
input[type=text] {
  width: 420px;
  padding: 21px;
  margin-top: 21px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  background-color: var(--background-500);
  color: white;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

input[type=text]:hover {
  background-color: var(--background-400);
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

input[type=text]:active, input[type=text]:focus {
  border-radius: 0;
  background-color: var(--accent-500);
}

input[type=text]:focus {
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

input[type=text]:active {
  border-radius: 0;
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
}

input[type=password] {
  width: 420px !important;
  padding: 21px !important;
  margin-top: 21px !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  border: none !important;
  background-color: var(--background-500) !important;
  color: white !important;
  transition: all .125s !important;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975) !important;
}

input[type=password]:hover {
  background-color: var(--background-400) !important;
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85) !important;
}

input[type=password]:active, input[type=password]:focus {
  border-radius: 0 !important;
  background-color: var(--accent-500) !important;
}

input[type=password]:focus {
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85) !important;
}

input[type=password]:active {
  border-radius: 0 !important;
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85) !important;
}

::placeholder { 
  color: var(--background-200);
  opacity: 1; /* thank firefox for this */
}

input[type=button] {
  width: 420px;
  padding: 21px;
  margin-top: 21px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  background-color: var(--background-500);
  color: white;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

input[type=button]:hover {
  background-color: var(--background-400);
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

input[type=button]:active {
  border-radius: 0;
  background-color: var(--accent-500);
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
}


/* Modal buttons */

.modalButton {
  width: 100% !important;
  padding: 21px;
  margin-top: 21px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  background-color: var(--background-400) !important;
  color: white;
  transition: all .125s;
  transition-timing-function: cubic-bezier(0.320, 0.755, 0.260, 0.975);
}

.modalButton:hover {
  background-color: var(--background-300) !important;
  box-shadow: 0px 20px 84px -30px rgba(0,0,0,0.85);
}

.modalButton:active {
  background-color: var(--accent-500) !important;
  border-radius: 0;
  box-shadow: 0px 20px 84px -35px rgba(0,0,0,0.85);
}


/* Settings panels */

.settingsBlock {
  padding: 0;
  margin: 0;
  margin-top: 41px;
}

.local_settingsMadeByFallienceString {
  color: #F26F60 !important;
}

.local_settingsLicensingDartDisclaimerLinkString {
  color: #00CCCC !important;
}

.warningString {
  color: #FFC857 !important;
  font-weight: 600;
}

#actualImportSelector {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0%;
  height: 0%;
  font-size: 0;
  opacity: 0;
}


/* encryption password prompt */

#encryptionPasswordPrompt {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  filter: opacity(0);
  opacity: 0;
  visibility: hidden;
}

.activeEncryptionPrompt {
  pointer-events: all !important;
  filter: opacity(100%) !important;
  opacity: 100 !important;
  visibility: visible !important;
}

#encryptionPasswordPromptIncorrectPasswordString {
  visibility: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.stringVisible {
  visibility: visible !important;
  font-size: 16px !important;
  padding-top: 21px !important;
}

#enableEncryptionPasswordPrompt {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  filter: opacity(0);
  opacity: 0;
  visibility: hidden;
}

.activeEnableEncryptionPrompt {
  pointer-events: all !important;
  filter: opacity(100%) !important;
  opacity: 100 !important;
  visibility: visible !important;
}

#enableEncryptionPasswordPromptIncorrectPasswordString {
  visibility: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

#enableEncryptionPasswordPromptPasswordsDontMatchString {
  visibility: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.stringVisible {
  visibility: visible !important;
  font-size: 16px !important;
  padding-top: 21px !important;
}